<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Settings are Checked in Unit Tests -->
    <add key="Stripe.AccountId" value="the-account-id"/>
    <add key="Stripe.PublishableKey" value="the-publishable-key"/>
    <add key="Stripe.SecretKey" value="the-secret-key"/>
  </appSettings>
</configuration>